<script type="text/template" id="template_detail_news">
    <h3><%= title %></h3>
    <span class="detail-page-content-news-author"><%= author %></span>
    <span class="detail-page-content-news-date"><%= date %></span>
<% _.each(content, function(item, index){ %>
    <% if(item.type == 'text'){ %>
        <p><%= item.data %></p>
    <% } %>
    <% if(item.type == 'image'){ %>
        <img src="<%= item.data.small.url %>">
    <% } %>
<% }); %>
    <div class="ui-gotop"></div>
</script>

